body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: White;
  }
  
  .resume-main {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("1567677.jpg");
    background-color: rgba(0, 3, 59, 1);
    background-size: cover;
    min-height: 100%;
    padding-top: 88px;
  }
  
  .headerSection {
      display: flex;
      justify-content: space-between;
  }

  .headshotAvatar {
    width: 80px;
    height: 80px;
    background: coral;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
  }

  .contactSection {
      display: flex;
      justify-content: flex-start;
  }

  .contactItem {
    font-size: 12px;
    margin-right: 12px;
  }

  .divider {
    width: 100%;
    border: 1px solid lightslategray;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: white;
    text-align:start;
  }

  caption {
    margin-right: 12px;
  }
  
  i {
      color: coral;
      margin-right: 2px;
  }
  
  a {
      color: white;
      text-decoration: none;
  }

  a:hover {
    color: grey;
    text-decoration: underline;
  }
  
  .textSection {
    position: relative;
    top: 88px;
    background-color:rgba(101, 115, 195, 0.6);
    padding:50px 80px;
    max-width: 1120px;
    margin: auto
  }